<!doctype html>
<html>
    <head>
        <title>Vriendinnen</title></head>
    <body>
        <ul>
            <li>Hans Desmet</li>
            <li>Siska Corneillie</li>
            <li>Steven Lucas</li>
            <li>Gerda Piens</li>
        </ul>
    </body>
</html>